/* Custom CSS for Delegao.moe */

.body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Helvetica";
}

#background{
  background: no-repeat center center fixed url('../img/bg/img1.gif');
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: optimize-contrast;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  background-size: cover; 
}

#background-cover {
  background-color: #1d1f21;
  opacity: 0.8;
}

#background, #background-cover {
  margin: auto; position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
}

#menu .display-4{
  font-size: 1.25rem;
}

@media (min-width: 1200px) {
  .container{
    max-width: 1450px;
  }
  #memo .card {
     position:fixed;
  }
}

.card{
  background-color: rgba(29, 31, 33, 0.7);
}

.avatar{
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

/* Content pages */

#minimenu{
  position: fixed;
  margin: auto;
  bottom: 10%;
  right: 5%;
  text-align: left;
  width: 320px;
  transform-origin: bottom left;
  padding: 0;
  color: #FFF;
}

#minimenucontent .display-4{
  font-size: 1.65rem;
  text-align: center;
}

#login .container{
  max-width: 650px;
}